main.page-main.main
  include content.pug
  include ../../parts/slider.pug
  include slider-equipment.pug
  .detail-page__cases-wrapper
    include ../../parts/cases-slider.pug
  include ../../parts/form.pug
